# Application port
PORT=4000
JWT_SECRET=

# Database connection
DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=api
DATABASE_USER=api
DATABASE_PASSWORD=api
DATABASE_SYNCHRONIZE=true

# Test database (docker compose service `db-test`)
DATABASE_TEST_NAME=api_test
DATABASE_TEST_PORT=5433
